#kkr{color: blueviolet;
}
#kk{margin-left: 10px;
color:blueviolet;}
#ps{color: blueviolet;
}
#hh{color: gray;}
#po{margin-left: 250px;}

#king{background: url(https://png.pngtree.com/background/20210714/original/pngtree-blue-and-gold-bokeh-lights-picture-image_1209436.jpg);
    padding: 50px;
}
#klp{width: 900px;
margin-left: 120px;
margin-top: 10px;

}
     
#top{margin-left:600px;
    margin-top: 50px;
color:blue;}
#ysp{margin-left:300px;
padding-top: 20px;
color: gray;}
#img1{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;
    margin-left: 90px;
    
}

.bg-info{
padding: 30px;

}
#pm{visibility: visible;}
#pb{padding-top: 60px;
    color:lightseagreen;
}
a:hover{background-color: gray;
    
    padding: 5px;
}
#mml{margin-right: 10px;
text-decoration: none;}
#kpkp{margin-top: 50px;}
#lu{padding-top: 60px;
    color:lightcoral;}

    #mo{color: lightcoral;
    margin-right:10px ;
text-decoration: none;}
    
    .bg-info2{
        background-color:red;
        padding: 30px;
    }

    .bg-info3{
        background-color:orange;
        padding: 30px;
    }
    #pcp{padding-top: 60px;
        color:orange;}
        #sri{color: orange;
        margin-right: 10px;
    text-decoration: none;}
        #anil{color: orange;}
        #rrr{
        padding: 20px;}
        
    .bg-info4{
        background-color:lightgreen;
        padding: 30px;}


        #lk{color: lightgreen;
        padding-top: 60px;}


        #ua{color: lightgreen;
        margin-right: 10px;
    text-decoration: none;}

        
    .bg-info5{
        background-color:purple;
        padding: 30px;}

        #vikk{
            color:purple;
            margin-right: 10px;
        text-decoration: none;}

        
    #iiii{padding-top: 60px;
        color:purple;}

          
    .bg-info6{
        background-color:lightslategray;
        padding: 30px;}

        
    #kil{padding-top: 60px;
        color:lightslategray;
    }

        
        #mass{
            color:lightslategray;
            margin-right: 10px;
        text-decoration: none;}

              
    .bg-info7{
        background-color:red;
        padding: 30px;}

                  
    .bg-info8{
        background-color:aqua;
        padding: 30px;
    }


        
        #munna {
            color:aqua;
            margin-right: 10px;
        text-decoration: none;}

           
    #mz{padding-top: 80px;
        color:aqua;
    }
            
#srinathh{margin-top:50px;
    text-align: center;
    padding-top: 50px;
color:white;}


#ak{
    background-color: orange;
    height: 900px;
    width: 100%;
    padding: 70px,0;
    margin-top: 50px;
}
.run{background-color: white;
margin-top: 60px;
height: 700px;
width:100%;
padding:70px,0px}

#cr{
    color: orange;
}
#lhg{
    margin-left: 15px;
    color:gray
}
#ggl{
    margin-left:100px;
    color: gray;
}
#bha{
    margin-left:10px;
    color: gray;
       
}

#ktpt{
    margin-left: 100px;
    color: gray;
}
#pspk{
    margin-left: 20px;
    color: gray;
}
#kkkk{
    margin-left: 100px;
    color: gray;
}
    #jock{
        margin-left: 10px;
        color: gray;
    }
    #oo{
        margin-left: 120px;
        color: gray;
    }
     #rajkumar{
        width: 200px;
        
     }
    
