#mass{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP-J6z9RnJsT7z35KTw1eiRisfAep60_P4pKjmhnz0uyQiM29R);
    background-repeat: no-repeat;
    background-size: cover;
  width: 100%;
  height: 100%;
}
.sec1{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP-J6z9RnJsT7z35KTw1eiRisfAep60_P4pKjmhnz0uyQiM29R);
    background-repeat: no-repeat;
    background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  
}
#hh{padding:200px;

}
#lov{
    font-size: 4rem;
    color: white;
}
#nn{
    color: white;
}
.jh{padding-top:50px;

}
.foms{
    background-color: white;
    padding: 20px;
  
    
}
#dd{
    color: skyblue;
}
#ds{
    color: gray;
}
#ft{
    color: gray;
    float: right;
    font-size:20px;
    padding-top: 5px;
    padding-right: 10px;
    

}
#te{
    border-radius: 20px;
    border: 5px solid skyblue;
}
#jq{
    padding-left:100px;
    color: gray;
}
#jz{
    color: brown;
    padding-left: 10px;
}
#rajk{
    color:skyblue ;
}
.container{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP-J6z9RnJsT7z35KTw1eiRisfAep60_P4pKjmhnz0uyQiM29R);
    background-repeat: no-repeat;
    background-size: cover;}

    
